.devicesUI {
    max-width: 70%;
    margin: auto;
}

.deviceSearch {
    border-radius: 15px;
}

.deviceSearch input {
    background-color: transparent;
    outline: none;
    width: 100%;
    margin-left: 10px;
    padding: 5px;
}

.light .deviceSearch {
    background-color: var(--light-secondary);
}

.light .searchIcon {
    background-color: var(--light-sec);
    border-radius: 8px;
}

.dark .deviceSearch {
    background-color: var(--secondary);
}

.dark .searchIcon {
    background-color: var(--sec);
    border-radius: 8px;
}

.deviceContainer {
    border-radius: 10px;
}

.light .deviceContainer {
    background-color: var(--light-secondary);
    border: 1px solid var(--light-sec);
}

.dark .deviceContainer {
    background-color: var(--secondary);
    border: 1px solid var(--sec);
}

.deviceBanner {
    width: 1200px;
    height: 150px;
    object-fit: cover;
    object-position: center -10px;
}

.getBuild {
    padding: 10px;
    border-radius: 20px;
    width: 70px;
    height: 70px;
    transition: 300ms;
}

.getBuild:hover {
    transition: 300ms;
}

.light .getBuild {
    background-color: var(--blue3);
}

.light .getBuild:hover {
    background-color: var(--blue1);
}

.dark .getBuild {
    background-color: var(--blue4);
}

.dark .getBuild:hover {
    background-color: var(--blue2);
}

.devPage {
    max-width: 60%;
    margin: auto;
}

.light .devContainer {
    background-color: var(--light-secondary);
    border: 1px solid var(--light-sec);
}

.dark .devContainer {
    background-color: var(--secondary);
    border: 1px solid var(--sec);
}

.light .devInfoContainer {
    background-color: var(--light-sec);
}

.dark .devInfoContainer {
    background-color: var(--sec);
}

.buildBtn {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.light .buildBtn {
    background-color: var(--blue3);
}

.dark .buildBtn {
    background-color: var(--blue4);
}

@media screen and (max-width: 600px) {
    .devGrids {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    
    .devPage {
        max-width: 100% !important;
        margin-bottom: 3vh;
    }

    .dlBtns {
        display: block;
    }

    .buildBtn {
        margin-bottom: 5px;
    }

    .devicesGrid {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
        margin-bottom: 10px;
    }
    
    .devicesUI {
        max-width: 100%;
    }
}